<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<form action="/account/login" method="post">
    <h2>Please enter your username and password</h2>
    <p></div><input type="text"  name="username" id="username" placeholder="username" />
    <br />
    <td style="background: #eee0c5 no-repeat;">
    <input type="password"  name="password" placeholder="password" />
</td>
    <td style="background: #eee0c5 no-repeat;">
    <input type="submit"  name="signon" value="Login" />
    </td>
</form>
<h6>Need a user name and password?&nbsp;<a href="/account/viewregister">Register Now</a>&nbsp;!</h6>
</div>
</body>
</html>