<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>

<form action="/account/register" method="post">
      <table>
        <tr>
          <td style="background: #eee0c5 no-repeat;">Username:</td>
          <td><input type="text"  name="username" id = "username">
          </td>
        </tr>

        <tr>
          <td style="background: #eee0c5 no-repeat;">Password:</td>
          <td><input type="password"  id="password" name="password"></td>
        </tr>

        <tr>
          <td style="background: #eee0c5 no-repeat;">Type:</td>
          <td><input type="text"  name="type" ></td>
        </tr>


      </table>
      <input type="submit" name="newOrder" value="Save Infor"/>
</form>
</body>
</html>