<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请输入密码</title>
</head>
<body>
<form action="/room/enter" method="post">
    <h2>请输入拍卖场的密码</h2>
        <br />
    <p></div><input type="text"  name="roomId" id="roomId" placeholder="roomId" />
        <br />
    <td style="background: #eee0c5 no-repeat;">
        <input type="password"  name="password" placeholder="password" />
    </td>
    <td style="background: #eee0c5 no-repeat;">
        <input type="submit"  name="enter" value="enter" />
    </td>
</form>
</body>
</html>